@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  @apply text-base text-black bg-bg-color;
  font-family: "Montserrat", sans-serif;
}

.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 0.2 !important;
}

.btn {
  @apply rounded-xl px-10 py-2 font-medium shadow transition duration-300 ease-in-out;

  &:not(&:disabled) {
    @apply hover:shadow-lg
  }

  &.btn-white {
    @apply bg-white text-primary
  }

  &.btn-orange {
    @apply bg-primary text-white
  }

  &.btn-small {
    @apply px-5 py-2 text-sm
  }

  &.btn-large {
    @apply px-12 py-4 text-xl
  }
}